.idea/workspace.xml
beet_bazaar_app/pubspec.lock
beet_bazaar_app/ios/Podfile
beet_bazaar_app/ios/Podfile.lock
beet_bazaar_app/pubspec.lock
beet_bazaar_app/macos/Podfile
beet_bazaar_app/macos/Flutter/Flutter-Debug.xcconfig
beet_bazaar_app/macos/Flutter/Flutter-Release.xcconfig
