<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.beyzaozansapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.beyzaozansapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity android:exported="true"
            android:name="com.beyzaozansapplication.app.modules.search.ui.SearchActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.beyzaozansapplication.app.modules.sellpage.ui.SellpageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.beyzaozansapplication.app.modules.appnavigation.ui.AppNavigationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.beyzaozansapplication.app.modules.passwordunregistered.ui.PasswordUnregisteredActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.beyzaozansapplication.app.modules.profilepage.ui.ProfilePageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.beyzaozansapplication.app.modules.signin.ui.SigninActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.beyzaozansapplication.app.modules.buypage.ui.BuypageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.beyzaozansapplication.app.modules.productpage.ui.ProductPageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.beyzaozansapplication.app.modules.sellnewproduct.ui.SellNewProductActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.beyzaozansapplication.app.modules.passwordregistered.ui.PasswordRegisteredActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
